.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-info {
    padding-left: 20px
}

.checkout-info > button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.raiting {
    display: flex;
  }

.title {
    font-size: 17px;
    font-weight: 800;
}